<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CFI | Banking</title>
    <% include header.ejs %>
  </head>
  <body>
   <% include menuNav.ejs %>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="img-fluid" src="/images/bg.jpg" alt="First slide" style="border-radius:0;">
          <div class="carousel-caption" style="top:0;margin-top:20%;">
            <h2 class="h3-responsive">في طور الإنجاز</h2>
          </div>
        </div>
      </div>
  </div>
   <% include footer.ejs %>
  </body>
</html>
