<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menuNav.ejs %>
    <h1>Error</h1>
  </body>
</html>
