<footer class="page-footer font-small mdb-color lighten-3 pt-4" style="background-image:linear-gradient(to bottom,#63a85a,#508948);color:white;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="text-align:center;font-size:30px;">من نحن</h5>
        <p>نحن أعضاء النادي كل اهتمامنا إثراء زادنا المعرفي بكل مايتعلق بالإقتصاد والمالية الإسلامية وذلك بحكم إختصاصنا .
نسعى دائما إلى طرح القضايا والمسائل بكل موضوعية علمية .
نرحب بكل من يشاركنا غايتنا ونحترم من يخالفنا في الرأي وقلوبنا تسع الإختلاف بشرط أدب الخلاف</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">


      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="text-align:center;font-size:30px;">عنوان</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <img src="/images/house.png" width="33px" height="33px"> Avenue de france, Rades</p>
          </li>
          <li>
            <p>
              <img src="/images/gmail.png" width="25px" height="25px"> montassartrojette883@gmail.com</p>
          </li>
          <li>
            <p>
              <img src="/images/phone.jpg" width="20px" height="30px"> 58765763</p>
          </li>
          <li>
            <p>
              <img src="/images/phone.jpg" width="20px" height="30px"> 53039449</p>
          </li>
        </ul>

      </div>


      <hr class="clearfix w-100 d-md-none">


      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">


        <h5 class="font-weight-bold text-uppercase mb-4" style="text-align:center;font-size:30px;">تابعنا</h5>

        <a href="https://www.facebook.com/نادي-المالية-الإسلامية-بالمعهد-العالي-للدراسات-التكنولوجية-برادس-1499129853717755/" target="_blank">
          <img src="/images/Facebook.png" width="50px" height="50px">
        </a>
        <a href="#" target="_blank">
          <img src="/images/linkedin.png" width="50px" height="50px">
        </a>
        <a href="#" target="_blank">
          <img src="/images/Youtube.png" width="50px" height="50px">
        </a>

      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#" style="color:white;"> CFI.IsetR.com</a>
  </div>

</footer>
