<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CFI | Home</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menuNav.ejs %>
    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
      <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
    <li data-target="#carousel-example-2" data-slide-to="4"></li>
    <li data-target="#carousel-example-2" data-slide-to="5"></li>
    <li data-target="#carousel-example-2" data-slide-to="6"></li>
  </ol>
<div class="carousel-inner" role="listbox" id="use-gen">
  <div class="carousel-item active">
    <div class="view">
      <img class="d-block w-100" src="/images/2.jpg" id="mainThumbImage" alt="First slide">
      <div class="mask rgba-black-light"></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive" id="thumb-text" style="font-size:3vw;text-shadow:2px 2px 2px black;font-weight:800;"> التثقيف و التحسيس حول الإقتصاد و المالية الإسلامية</h3>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" style="height:3vw;width:3vw;" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
  <span class="carousel-control-next-icon" style="height:3vw;width:3vw;" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

<div class="card text-center">
<div class="card-header"  style="border-bottom:5px #63a85a solid;font-size:30px;font-weight:800;" id="spacialRec">
  تعريف النادي
</div>
<div class="card-body" >
  <p class="card-text" style="font-size:30px;">ﺗﺄﺳﺲ ﻧﺎﺩﻱ ﺍﻟﻤﺎﻟﻴﺔ ﺍﻻﺳﻼﻣﻴﺔ ﻳﻮﻡ 12 ﺃﻛﺘﻮﺑﺮ 2015 ﺑﻌﺪ ﺗﻜﺎﺛﻒ ﺟﻬﻮﺩ ﻛﻞ ﻣﻦ ﺍﻟﻄﻠﺒﺔ ﻭ ﺍﻻﺳﺎﺗﺬﺓ ﺑﺎﻟﻤﻌﻬﺪ ﺍﻟﻌﺎﻟﻲ ﻟﻠﺪﺭﺍﺳﺎﺕ ﺍﻟﺘﻜﻨﻮﻟﻮﺟﻴﺔ ﺑﺮﺍﺩﺱ ﻭ ﻳﺮﺗﻜﺰ ﺩﻭﺭﻩ ﻋﻠﻰ ﺍﻟﺘﻌﺮﻳﻒ ﻭ ﺑﺚ ﺛﻘﺎﻓﺔ ﺍﻟﻤﺎﻟﻴﺔ ﺍﻻﺳﻼﻣﻴﺔ ﺩﺍﺧﻞ ﺍﻟﺠﺎﻣﻌﺔ ﻭ خارﺟﻬﺎ ﺑﺎﻹﺿﺎﻓﺔ ﺇﻟﻰ ﺍﻟﺘﻄﺮﻕ ﻟﻠﻤﻮﺍﺿﻴﻊ ﺍﻟﻤﻌﺎﺻﺮﺓ ﺍﻟﻤﺘﻌﻠﻘﺔ ﺑﺎﻻﻗﺘﺼﺎﺩ ﻭ ﺍﻟﻤﺎﻟﻴﺔ ﺍﻻﺳﻼﻣﻴﺔ ﻓﻲ ﺗﻮﻧﺲ ﺧﺼﻮﺻﺎ ﻭ ﻓﻲ ﺍﻟﻌﺎﻟﻢ ﻋﻤﻮﻣﺎ</p>
  <div class="card-group">
  <div class="card">
    <div class="card-body" style="box-shadow: 0 4px 2px -2px  #63a85a;background-color:#eff1f4;">
      <p class="card-text" style="font-size:50px;">التعريف بالإجازة</p>
      <p class="card-text"><small class="text-muted" style="font-size:35px;">هدف النادي</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body" style="box-shadow: 0 4px 2px -2px  #63a85a;background-color:#eff1f4;">
      <p class="card-text" style="font-size:50px;">التفقيف و التحسيس في مجال المالية الإسلامية</p>
      <p class="card-text"><small class="text-muted" style="font-size:35px;">هدف النادي</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body" style="box-shadow: 0 4px 2px -2px #63a85a;background-color:#eff1f4;">
      <p class="card-text" style="font-size:50px;">اكتساب ثقافة المبادرة</p>
      <p class="card-text"><small class="text-muted" style="font-size:35px;">هدف النادي</small></p>
    </div>
  </div>
</div>
</div>
</div>

<div class="card text-center">
<div class="card-header"  style="border-bottom:5px #63a85a solid;font-size:30px;font-weight:800;">
فيديوهات
 </div>

 <div class="tz-gallery">
   <div class="container-fluid">
     <div class="row" id="videoHolder" style="margin-top:2%;">
       <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.3"></script>

     </div>
   </div>
 </div>

    <% include footer.ejs %>
  </body>
</html>
