<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CFI | Lectures</title>
    <% include header.ejs %>
  </head>
  <body>
   <% include menuNav.ejs %>
   <div class="card text-center">
    <div class="card-header"  style="border-bottom:5px #63a85a solid;font-size:30px;font-weight:800;">
      محاضرات
     </div>
     <div class="tz-gallery">
       <div class="container-fluid">
         <div class="row" style="margin-bottom:1%;margin-top: 1%;" id="prholder">
           
         </div>
       </div>
     </div>
    </div> 
    
   <% include footer.ejs %>
  </body>
</html>
